

.imagecenter img {
    width: 300px;
    height: 300px;
    padding-left:3px;
    filter: grayscale(1) brightness(0.5);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s linear;
}

.imagecenter img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
